# R auxiliary files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Other files types

# htlm output
Todo.html
paper/paper.html

# Old folders
PRDA_old/
PRDAbeta2/
Old_notes/

# Project folders
inst/doc
doc
Meta

# Mac auxiliary files
.DS_Store
/doc/
/Meta/
